html{
   user-select: none;
   font-family: gurame;
}
:focus{
   outline: none;
}
body{
   touch-action: none;
   height: 100vh;
   background: radial-gradient(#404040,black);
   background-position: center center;
   background-size: cover;
   box-shadow: inset 0 0 100px black;
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
@font-face  {
   font-family: 'gurame';
   src: url('Assets/gurame.otf');
}

h2{
  color: gray;
  margin-bottom: 0;
  padding-bottom: 0;
}
h2 span{
  color: red;
}

a{
  color: whitesmoke;
  margin-bottom: 3px;
  text-decoration: none;
  background: transparent;
  -webkit-tap-highlight-color: transparent;
  border: 2px solid transparent;
  padding: 5px;
  width: 100px;
  text-align: center;
}
a:active{
  border: 2px solid whitesmoke;
  animation: blink .25s infinite;
} @keyframes blink {
  from{
    border: 2px solid White;
  }
  to{
    border: 2px solid transparent;
  }
}

p{
 margin: 0;
 padding: 0;
 font-size: 10px;
 color: darkgray;
 margin-bottom: 10px;
}

footer{
  color: aquamarine;
  font-size: 10px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  opacity: 25%;
}